//-
	mixins
//-
mixin fa(type)
	i.fa(aria-hidden='true' class=type)

mixin date-menu(dateDom, menuTitle)
	li.video.dropdown(role='presentation')
						a.dropdown-toggle(
							href='#',
							data-toggle='dropdown',
							role='button',
							aria-haspopup='true',
							aria-expanded='false'
						) #{menuTitle}
							+fa('fa-sort-desc')
						ul.dropdown-menu
							li: a(href='/' + dateDom + '/') DIRECTORY
							li: a(href='/' + dateDom + '/us') US
							li: a(href='/' + dateDom + '/uk') UK
							li: a(href='/' + dateDom + '/canada') Canada

mixin forum(url)
	li.forum: a(href=url) Forum

mixin advice(url)
	li: a(href=url) Advice
//-
	Main Nav Menu
//-
#menu
	nav.navbar-wrapper.navbar-default(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(
					type='button',
					data-toggle='collapse',
					data-target='.navbar-backyard'
				)
					span.sr-only Toggle Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				include navbar-brand.pug
			#navbar-scroll.collapse.navbar-collapse.navbar-backyard.navbar-right
				ul.nav.navbar-nav
					case page.domain
						when 'adulthookups.com'
							li: a(href='/login/') Login
							+forum('https://www.chatandhookup.com/')
							+date-menu('date-hookup', 'Date')
						when 'easysex.com'
							li: a(href='/login/') Login
							+forum('https://www.flirt2hookup.com/')
							+advice('/sex-advice/')
							+date-menu('sex-clubs', 'Date')
						when 'hookupcloud.com'
							li: a(href='/login/') Login
							+advice('/sex-and-love')
							+date-menu('best-date-ideas', 'Date')
						when 'sexsearchcom.com'
							li: a(href='/login/') Login
							+forum('https://www.flirtsexchat.com/')
							+date-menu('date-hookup', 'Date')
					li.video.dropdown(role='presentation')
						a.dropdown-toggle(
							href='#',
							data-toggle='dropdown',
							role='button',
							aria-haspopup='true',
							aria-expanded='false'
						) Games
							+fa('fa-sort-desc')
						ul.dropdown-menu
							li: a(href='/' + page.domaindir) DIRECTORY
							li: a(href='/' + page.domaindir + '/general') General
							li: a(href='/' + page.domaindir + '/lgbt') LGBT
							li: a(href='/' + page.domaindir + '/niche') Niche