//-
	SEO Tags for landing pages
//-
case page.domain
	when 'adulthookups.com'
		meta(name="googlebot" content="noodp")
		meta(name ="msnbot" content="noodp")
		meta(name ="slurp" content="noydir")
		meta(name ="robots" content="noodp,noydir")
		meta(name="WT.ti" content="ssm")
		meta(name="WT.cg_n" content="Splash Page")
		meta(name="WT.si_n" content="Splash Page Scenario")
		meta(name="WT.si_p" content="Step 1")
		meta(name="WT.seg_1" content="0")
		script.
			/* <![CDATA[ */
			 var gFpc = "WT_FPC";
			 var gDomain = "wt.adulthookups.com";
			 var gDcsId = "dcs8a9lkdk711roghvzx6gsg8_1s9d";
			 // Code section for Use the new first-party cookie generated with this tag.
			var gConvert=true;

			// NEW CODE
			if ((typeof(gConvert)!="undefined")&&gConvert&&(document.cookie.indexOf(gFpc+"=")==-1)&&(document.cookie.indexOf("WTLOPTOUT=")==-1)){
			    document.write("<SCR"+"IPT TYPE='text/javascript' SRC='"+"http"+(window.location.protocol.indexOf('https:')==0?'s':'')+"://"+gDomain+"/"+gDcsId+"/wtid.js"+"'><\/SCR"+"IPT>");
			}
			/* ]]> */
		script.
			var tid = 2091;
		script.
			asset_id="36";
			tracking_host="t.adulthookups.com";

			(function(c,o,m,p,u,t,e){
			c['WebETLObject']=u;c[u]=c[u]||function(){(c[u].q=c[u].q||[]).push(arguments)},
			c[u].l=1*new Date();t=o.createElement(m);t.async=1;t.src=p;
			e=o.getElementsByTagName(m)[0];e.parentNode.insertBefore(t,e);
			})(window,document,'script','//' + tracking_host + '/tm.js','webetl');
	when 'easysex.com'
		meta(name ="googlebot" content="noodp")
		meta(name ="msnbot" content="noodp")
		meta(name ="slurp" content="noydir")
		meta(name ="robots" content="noodp,noydir")
		meta(name="WT.ti" content="ssm")
		meta(name="WT.cg_n" content="Splash Page")
		meta(name="WT.si_n" content="Splash Page Scenario")
		meta(name="WT.si_p" content="Step 1")
		meta(name="WT.seg_1" content="0")
		script.
			/* <![CDATA[ */
			 var gFpc = "WT_FPC";
			 var gDomain = "wt.easysex.com";
			 var gDcsId = "dcs0zztfg00000s969s37qoal_2f6z";
			 // Code section for Use the new first-party cookie generated with this tag.
			var gConvert=true;

			// NEW CODE
			if ((typeof(gConvert)!="undefined")&&gConvert&&(document.cookie.indexOf(gFpc+"=")==-1)&&(document.cookie.indexOf("WTLOPTOUT=")==-1)){
			    document.write("<SCR"+"IPT TYPE='text/javascript' SRC='"+"http"+(window.location.protocol.indexOf('https:')==0?'s':'')+"://"+gDomain+"/"+gDcsId+"/wtid.js"+"'><\/SCR"+"IPT>");
			}
			/* ]]> */
		script.
			var tid = 2089;
		script.
			asset_id="34";
			tracking_host="t.easysex.com";

			(function(c,o,m,p,u,t,e){
			c['WebETLObject']=u;c[u]=c[u]||function(){(c[u].q=c[u].q||[]).push(arguments)},
			c[u].l=1*new Date();t=o.createElement(m);t.async=1;t.src=p;
			e=o.getElementsByTagName(m)[0];e.parentNode.insertBefore(t,e);
			})(window,document,'script','//' + tracking_host + '/tm.js','webetl');
	when 'hookupcloud.com'
		meta(name ="googlebot" content="noodp")
		meta(name ="msnbot" content="noodp")
		meta(name ="slurp" content="noydir")
		meta(name ="robots" content="noodp,noydir")
		meta(name="WT.ti" content="ssm")
		meta(name="WT.cg_n" content="Splash Page")
		meta(name="WT.si_n" content="Splash Page Scenario")
		meta(name="WT.si_p" content="Step 1")
		meta(name="WT.seg_1" content="0")
		script(type="text/javascript" src="http://static.sexsearchcom.com/de/res/site/default/js/jquery-1.8.1.min.js")
		script.
			/* <![CDATA[ */
			 var gFpc = "WT_FPC";
			 var gDomain = "wt.hookupcloud.com";
			 var gDcsId = "dcsv96qcv000008alp4trgo0q_7h8h";
			 // Code section for Use the new first-party cookie generated with this tag.
			var gConvert=true;

			// NEW CODE
			if ((typeof(gConvert)!="undefined")&&gConvert&&(document.cookie.indexOf(gFpc+"=")==-1)&&(document.cookie.indexOf("WTLOPTOUT=")==-1)){
			    document.write("<SCR"+"IPT TYPE='text/javascript' SRC='"+"http"+(window.location.protocol.indexOf('https:')==0?'s':'')+"://"+gDomain+"/"+gDcsId+"/wtid.js"+"'><\/SCR"+"IPT>");
			}
			/* ]]> */
		script.
			var tid = 2092;
		script.
			asset_id="37";
			tracking_host="t.hookupcloud.com";

			(function(c,o,m,p,u,t,e){
			c['WebETLObject']=u;c[u]=c[u]||function(){(c[u].q=c[u].q||[]).push(arguments)},
			c[u].l=1*new Date();t=o.createElement(m);t.async=1;t.src=p;
			e=o.getElementsByTagName(m)[0];e.parentNode.insertBefore(t,e);
			})(window,document,'script','//' + tracking_host + '/tm.js','webetl');

			webetl('init',asset_id);

			webetl('send',
			 {'custom_vars': [
			      {slot: 2, name: 'ContentGroupName', value: $('meta[name=WT\\.cg_n]').attr("content"), scope: 'page'},
			      {slot: 4, name: 'Promo Code', value: $('meta[name=WT\\.seg_1]').attr("content"), scope: 'visitor'},
			      {slot: 11, name: 'ScenarioAnalysisName', value: $('meta[name=WT\\.si_n]').attr("content"), scope: 'page'},
			      {slot: 12, name: 'ScenarioStepName', value: $('meta[name=WT\\.si_p]').attr("content"), scope: 'page'}
			]});
	when 'sexsearchcom.com'
		meta(name ="googlebot" content="noodp")
		meta(name ="msnbot" content="noodp")
		meta(name ="slurp" content="noydir")
		meta(name ="robots" content="noodp,noydir")
		meta(name="WT.ti" content="ssm")
		meta(name="WT.cg_n" content="Splash Page")
		meta(name="WT.si_n" content="Splash Page Scenario")
		meta(name="WT.si_p" content="Step 1")
		meta(name="WT.seg_1" content="0")
		script(type="text/javascript" src="http://static.sexsearchcom.com/de/res/site/default/js/jquery-1.8.1.min.js")
		script.
			/* <![CDATA[ */
			 var gFpc = "WT_FPC";
			 var gDomain = "wt.sexsearchcom.com";
			 var gDcsId = "dcscpr6sbugmf60fc2jbe86ep_2g4h";
			 // Code section for Use the new first-party cookie generated with this tag.
			var gConvert=true;

			// NEW CODE
			if ((typeof(gConvert)!="undefined")&&gConvert&&(document.cookie.indexOf(gFpc+"=")==-1)&&(document.cookie.indexOf("WTLOPTOUT=")==-1)){
			    document.write("<SCR"+"IPT TYPE='text/javascript' SRC='"+"http"+(window.location.protocol.indexOf('https:')==0?'s':'')+"://"+gDomain+"/"+gDcsId+"/wtid.js"+"'><\/SCR"+"IPT>");
			}
			/* ]]> */
		script.
			var tid = 2083;
		script.
			asset_id="1";
			tracking_host="t.sexsearchcom.com";

			(function(c,o,m,p,u,t,e){
			c['WebETLObject']=u;c[u]=c[u]||function(){(c[u].q=c[u].q||[]).push(arguments)},
			c[u].l=1*new Date();t=o.createElement(m);t.async=1;t.src=p;
			e=o.getElementsByTagName(m)[0];e.parentNode.insertBefore(t,e);
			})(window,document,'script','//' + tracking_host + '/tm.js','webetl');

			webetl('init',asset_id);

			webetl('send',
				{'custom_vars': [
					{slot: 2, name: 'ContentGroupName', value: $('meta[name=WT\\.cg_n]').attr("content"), scope: 'page'},
					{slot: 4, name: 'Promo Code', value: $('meta[name=WT\\.seg_1]').attr("content"), scope: 'visitor'},
					{slot: 11, name: 'ScenarioAnalysisName', value: $('meta[name=WT\\.si_n]').attr("content"), scope: 'page'},
					{slot: 12, name: 'ScenarioStepName', value: $('meta[name=WT\\.si_p]').attr("content"), scope: 'page'}
				]});