//-
	Index List
//-
.best-index
	.container
		.row
			.col-xs-12
				h3.dark-heading #{page.heading}
		each item in page.listItems
			.row(id='best' + item.index)
				<!--/.intro image -->
				.col-md-3.intro-pic
					a.thumbnail(href='http://' + item.url)
						img.img-responsive(
							alt=item.title,
							src=page.resourceUrl + '/dp/image/listing/' + item.baseUrl + '.png'
						)
				<!--/.intro content -->
				.col-md-9
					h2 #{item.title}
					p !{item.desc}
					h3 !{item.buyLine}
					ul
						each point in item.points
							li !{point}
					.btn-section.text-center !{item.button}