//-
	CSS Files
//-
link(
	href=page.resourceUrl + '/dp/css/bootstrap.min.css',
	rel='stylesheet',
	media='screen'
)
link(
	href=page.resourceUrl + '/dp/css/owl.theme.css',
	rel='stylesheet'
)
link(
	href=page.resourceUrl + '/dp/css/owl.carousel.css',
	rel='stylesheet'
)
link(
	href=page.resourceUrl + '/dp/css/global.v10.css',
	rel='stylesheet',
	media='screen'
)
link(
	href=page.resourceUrl + '/dp/css/sex-games.v3.css',
	rel='stylesheet',
	media='screen'
)
link(
	href=page.resourceUrl + '/dp/css/tablesaw.v2.css',
	rel='stylesheet',
	media='screen'
)