//-
	JS files for footer of page
//-
script(src=page.resourceUrl + '/dp/js/tablesaw.v2.js')
script(src=page.resourceUrl + '/dp/js/tablesaw-init.js')
script(src=page.resourceUrl + '/dp/js/jquery.js')
script(src=page.resourceUrl + '/dp/js/bootstrap.min.js')
script(src=page.resourceUrl + '/dp/js/custom.v2.js')
script(src=page.resourceUrl + '/dp/js/hookup-sites.v1.js')
script(src=page.resourceUrl + '/dp/js/jquery.sticky.js')
script(src=page.resourceUrl + '/dp/js/wow.min.js')
script(src=page.resourceUrl + '/dp/js/owl.carousel.min.js')
script new WOW().init;